@font-face {
font-family:"district-thin";
src:url('fonts/DistProTh.otf');
font-style: normal;
font-weight: 400;
}

@font-face {
font-family:"bebas-neue";
src:url('fonts/BebasNeue.otf');
font-style: normal;
font-weight: 400;
}

body {
    margin: 0px;
    background: #555;
    color: #fff;
    font-family: 'bebas-neue', sans-serif;
}
h1, h2, h3, h4 {
    margin: 5px;
}
ul {
    list-style: none;
}
nav {
    position: fixed;
    width: 100%;
    padding: 5px 10px 5px 10px;
    background: #000;
}
nav .logo {
    color: #fff;
    text-decoration: none;
    margin: 0px;
    float: left;
    font-size: 16pt;
}
nav .logo:hover {
    color: #fff;
}
nav .logo h1 {
    margin: 5px;
}
nav #menu-toggle {
    float: right;
    margin: 10px 30px 10px 5px;
    font-size: 18pt;
}
nav ul {
    visibility: hidden;
    width: 100%;
    float: right;
    list-style: none;
    margin: 0px 10px 0px 10px;
}
nav li {
   padding: 5px;
   border-bottom: 1px solid #fff;
   background: #00BFFF;
   color: #00BFFF;
}
nav li a {
    font-size: 16pt;
    display: block;
    margin-left: 5px;
    color: #fff;
    //color: #1A3F8F;
    text-decoration: none;
}
nav li .fa {
    font-size: 18pt;
    color: inherit;
}
.nav-text {
    //display: none;
    //position: absolute;
}
#banner {
    height: 50px;
    vertical-align: middle;
    display: block;
}
section {
    height: 500px;
    padding-top: 100px;
    text-align: center;
    font-size: 40pt;
}
.textbox {
    background: rgba(0,0,0,0.7);
    width: 80%;
    border: 1px solid #fff;
    margin: auto;
    font-size: 14pt;
    padding: 15px;
    min-width: 280px;
}
.textbox span {
   font-family: 'district-thin', sans-serif;
   font-weight: 300;
}
.textbox h1 {
    margin: 15px 10px 15px 10px;
    font-size: 45pt;
    color: #00BFFF;
}
#home {
    background: url('img/home-1920.jpg');
    background-color: #00BFFF;
    color: #fff;
}
#team {
    padding-top: 60px;
    background: #00BFFF;
    //background: #00BF33;
    color: #FFF;
}
#roster {
    width: 90%;
    margin: auto;
    padding: 0px;
    border-top: 1px solid #fff;
}
#roster-left {
    width: 35%;
    border-right: 1px solid #fff;
    float: left;
    list-style: none;
    font-size: 14pt;
}
#roster-left ul {
    padding-left: 5px;
    list-style: none;
}
#roster li {
    margin-bottom: 10px;
}
#roster-left li:hover {
    color: #00BFFF;
    background: #fff;
}
#roster-right {
    width: 64%;
    float: right;
}
#roster-right img {
    height: 30%;
    width: 80%;
}
#roster-right .bio h3 {
    margin: 5px;
    font-size: 18pt;
}
#roster-right .bio p {
    font-family: 'district-thin', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}
#sponsors {
    background: #00BF33;
    //background: #FF0000;
    color: #FFF;
}
#contact {
    background: #666;
    //background: #FFFF00;
    color: #FFF;
}
footer {
    background: #000;
    height: 30px;
    padding: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #00BFFF;
}
.active {
    visibility: visible;
}
#contact-nav {
    margin: auto;
    margin-top: 15%;
    width: 90%;
}
#contact p {
    border-bottom: 1px solid #666;
}
#contact-nav i {
   background: #333;
   border: 1px solid #333;
   border-radius: 50%;
   width: 45px;
   line-height: 45px;
   height: 45px;
   font-size: 22pt;
   margin: auto;
}
#contact-nav li:hover i{
    background: #777;
    border: 1px solid #fff;
}
#contact-nav li {
   text-align: center;
   display:inline-block;
   margin-right: 15px;
   font-size: 14pt;
   width: 140px;
   heightL 140px;
}
.twitter:hover i{
    color: #55ACEE;
}
#contact-nav .twitter:hover p {
    border-bottom: 1px solid #55ACEE;
}
.fb:hover i{
    color: #3B5998;
}
#contact-nav .fb:hover p{
    border-bottom: 1px solid #3B5998;
}
.email:hover i{
    color: #e74c3c;
}
#contact-nav .email:hover p{
    border-bottom: 1px solid #e74c3c;
}
.phone:hover i {
    color: #2ecc71;
}
#contact-nav .phone:hover p {
    border-bottom: 1px solid #2ecc71;
}
