@font-face {
font-family:"district-thin";
src:url('fonts/DistProTh.otf');
font-style: normal;
font-weight: 400;
}

@font-face {
font-family:"bebas-neue";
src:url('fonts/BebasNeue.otf');
font-style: normal;
font-weight: 400;
}

body {
    margin: 0px;
    background: #555;
    color: #fff;
    font-family: 'bebas-neue', sans-serif;
}
nav {
    position: fixed;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background: #000;
}
nav .logo {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    float: left;
    font-size: 18pt;
}
nav .logo:hover {
    color: #fff;
}
nav .logo h1 {
    margin: 5px;
}
nav ul {
    background: #333;
    float: right;
    list-style: none;
    margin-right: 10px;
}
nav li {
   margin: 60px 5px 5px 5px;
   display: none;
   color: #00BFFF;
}
nav li a {
    font-size: 16pt;
    margin-left: 5px;
    color: #00BFFF;
    //color: #1A3F8F;
    text-decoration: none;
}
nav li .fa {
    font-size: 18pt;
    color: inherit;
}
.nav-text {
    display: none;
    //position: absolute;
}
#banner {
    height: 50px;
    vertical-align: middle;
    display: block;
}
section {
    height: 500px;
    padding-top: 100px;
    text-align: center;
    font-size: 40pt;
}
.textbox {
    background: rgba(0,0,0,0.7);
    width: 60%;
    border: 1px solid #fff;
    margin: auto;
    font-size: 14pt;
    padding: 15px;
    min-width: 350px;
}
.textbox span {
   font-family: 'district-thin', sans-serif;
   font-weight: 300;
}
.textbox h1 {
    margin: 15px 10px 15px 10px;
    font-size: 45pt;
    color: #00BFFF;
}
#home {
    background: url('img/home-1920.jpg');
    background-color: #00BFFF;
    color: #fff;
}
#team {
    padding-top: 100px;
    background: #00BFFF;
    //background: #00BF33;
    color: #FFF;
}
#roster {
    width: 90%;
    margin: auto;
    padding: 0px;
    border-top: 1px solid #fff;
}
#roster-left {
    width: 35%;
    border-right: 1px solid #fff;
    float: left;
    list-style: none;
    font-size: 14pt;
}
#roster-left ul {
    padding-left: 5px;
    list-style: none;
}
#roster li {
    margin-bottom: 10px;
}
#roster-left li:hover {
    color: #00BFFF;
    background: #fff;
}
#roster-right {
    width: 64%;
    float: right;
}
#sponsors {
    background: #00BF33;
    //background: #FF0000;
    color: #FFF;
}
#contact {
    background: #666;
    //background: #FFFF00;
    color: #FFF;
}
footer {
    background: #000;
    height: 30px;
    padding: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #00BFFF;
}
