@font-face {
font-family:"district-thin";
src:url('fonts/DistProTh.otf');
font-style: normal;
font-weight: 400;
}

@font-face {
font-family:"bebas-neue";
src:url('fonts/BebasNeue.otf');
font-style: normal;
font-weight: 400;
}

body {
    margin: 0px;
    background: #555;
    color: #fff;
    font-family: 'bebas-neue', sans-serif;
}
nav {
    position: fixed;
    width: 100%;
    padding: 10px 40px 10px 40px;
    background: #000;
}
nav .logo {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    float: left;
    font-size: 24pt;
}
nav .logo:hover {
    color: #fff;
}
nav .logo h1 {
    margin: 5px;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 50px;
}
nav li {
   margin: 60px 10px 5px 10px;
   display: inline;
   color: #00BFFF;
}
nav li a {
    font-size: 16pt;
    margin-left: 5px;
    color: #00BFFF;
    //color: #1A3F8F;
    text-decoration: none;
}
nav li .fa {
    font-size: 18pt;
    color: inherit;
}
nav li:hover {
    color: #fff;
    //color: #00BFFF;
}
.nav-text {
    opacity: 0;
    //position: absolute;
}
nav li:hover .nav-text {
    opacity: 100;
}
#banner {
    height: 70px;
    vertical-align: middle;
    display: block;
}
section {
    height: 1000px;
    padding-top: 100px;
    text-align: center;
    font-size: 40pt;
}
.textbox {
    background: rgba(0,0,0,0.7);
    width: 600px;
    border: 1px solid #fff;
    float: right;
    margin-right: 50px;
    margin-top: 30em;
    font-size: 14pt;
    padding: 15px;
}
.textbox span {
   font-family: 'district-thin', sans-serif;
   font-weight: 300;
}
.textbox h1 {
    margin: 15px 10px 15px 10px;
    font-size: 45pt;
    color: #00BFFF;
}
#home {
    background: url('img/home-1920.jpg');
    background-color: #00BFFF;
    color: #fff;
}
#team {
    padding-top: 100px;
    background: #00BFFF;
    //background: #00BF33;
    color: #FFF;
}
#roster {
    width: 60%;
    margin: auto;
    padding: 0px;
    border-top: 1px solid #fff;
}
#roster-left {
    width: 30%;
    border-right: 1px solid #fff;
    float: left;
    list-style: none;
    font-size: 18pt;
}
#roster-left ul {
    list-style: none;
}
#roster-left li:hover {
    color: #00BFFF;
    background: #fff;
}
#roster-right {
    width: 69%;
    float: right;
}
#sponsors {
    background: #00BF33;
    //background: #FF0000;
    color: #FFF;
}
#contact {
    background: #666;
    //background: #FFFF00;
    color: #FFF;
}
footer {
    background: #000;
    height: 30px;
    padding: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #00BFFF;
}
