@font-face {
font-family:"district-thin";
src:url('fonts/DistProTh.otf');
font-style: normal;
font-weight: 400;
}
@font-face {
font-family:"bebas-neue";
src:url('fonts/BebasNeue.otf');
font-style: normal;
font-weight: 400;
}
html {
    height: 100% !important;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'district-thin', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'bebas-neue', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
section {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    display: block;
}
#butler {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    z-index: 999;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 20pt;
    font-size: 2vw;
    color: #FFF;
    -webkit-animation: fadeIn .4s linear;
}
#butler h1 {
    font-size: 120pt;
    font-size: 11vw;
}

.down-arrow {
    margin: 50px;
}
#butler:hover .down-arrow{
   -moz-animation: bounce .4s linear;
   -webkit-animation: bounce .4s linear;
}
#mainnav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    padding: 10px 0;
    width: 100%;
    opacity: 0.5;
    display: block;
}
#mainnav:hover {
    opacity: 1;
}
#mainnav ul {
    padding: 0;
    list-style: none;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
#mainnav ul li {
    display: inline;
    margin: 0 20px;
}
#mainnav a {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
}
#mainnav a:hover {
    color: #3498db;
}
#home {
    min-height: 600px;
}
#home-content {
    width: 100%;
    height: 120%;
    background: no-repeat center bottom;
    background-size: cover !important;
    background-attachment: fixed !important;
    position: relative;
    background-image: url('img/home-1920.jpg');
    display: block;
    opacity: 1;
}
#home-content:after {
    opacity: 0.65;
    position: absolute;
    height: 100%;
    width: 100%;
    content: " ";
    background: #000;
}
.down-arrow i {
   color: #fff;
   border: 1px solid #fff;
   border-radius: 50%;
   width: 45px;
   line-height: 45px;
   height: 45px;
   font-size: 32pt;
   margin: auto;
   opacity: 0.7;
}
.down-arrow i:hover {
   border: 1px solid #3498db;
   opacity: 1;
}
#team {
    padding-top: 70px;
    padding-bottom: 15px;
    background: rgb(41,128,185);
    color: #FFF;
    min-height: 580px;
}
#roster {
    width: 85%;
    height: 70%;
    margin: auto;
    padding: 0px;
    text-align: center;
}
#roster .athlete {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 13px;
    min-width: 150px;
    min-height: 150px;
    max-width: 250px;
    max-height: 250px;
    width: 15vw;
}
#roster .athlete img {
    width: 100%;
}
#roster .athlete span {
    position: absolute;
    bottom: 15px;
    padding: 10px;
    font-size: 1.7vw;
    left: 0px;
    width: 80%;
    visibility: hidden;
}
#roster .athlete:hover span {
    background: rgb(52, 152, 219);
    background: rgba(52, 152, 219, .8);
    visibility: visible;
}
.topnav {
    position: fixed !important;
    top: 0;
    bottom: inherit !important;
    background: rgba(0,0,0,0.3);
}
#partners {
    background: #ecf0f1;
    //background: #2ecc71;
    color: #FFF;
}
.partner-list img {
    max-width: 250px;
    max-height: 100px;
    margin: 15px;
}
.partner-list {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 10%;
    padding: 0px;
    display: table;
}
.partner-list li {
    display: inline-block;
}
.main-spon {
    zoom: 1.3;
}

#contact {
    background: #000;
    height: 100px;
    //background: #2c3e50;
    //background: #FFFF00;
    color: #FFF;
}
footer {
    background: #000;
    color: #fff;
    font-family: 'district-thin', sans-serif;
    font-size: 11pt;
    height: 20px;
    border-top: 1px solid #222;
    padding: 10px;
    text-align: center;
}
footer span {
    margin: 10px;
}
footer a {
    text-decoration: none;
    color: #00BFFF;
}
#contact-nav {
    margin: auto;
    margin-top: 2%;
    width: 70%;
    min-width: 900px;
    text-align: center;
}
#contact-nav i {
   width: 50px;
   line-height: 50px;
   height: 50px;
   font-size: 26pt;
   margin: auto;
}
#contact-nav li:hover i{
    opacity: 1;
}
#contact-nav li {
   text-align: center;
   display:inline-block;
   margin-right: 30px;
   font-size: 18pt;
}
#contact-nav li p {
    font-size: 14pt;
}
#contact-nav li a {
    text-decoration: none;
    color: inherit;
}
.twitter:hover i{
    color: #55ACEE;
}
.fb:hover i{
    color: #3B5998;
}
.insta:hover i {
    color: #2ecc71;
}
#calendar {
    height: 100%;
    width: 100%;
    color: #fff;
}
#calendar-content {
    height: 120%;
    width: 100%;
    display: block;
    position: relative;
    background: no-repeat center bottom;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-image: url('img/calendar-1920.jpg');
    opacity: 1;
}
#calendar-content:after {
    opacity: 0.4;
    position: absolute;
    height: 100%;
    width: 100%;
    content: " ";
    background: #000;
}
#cal {
    padding-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    z-index: 8;
    font-size: 20pt;
    font-size: 2vw;
}
#cal table {
    width: 100%;
}
#cal table th {
    text-align: left;
    padding-bottom: 20px;
}
#cal table td {
    text-align: left;
    border-top: 1px dotted #999;
    font-size: 14pt;
    padding: 10px 10px 10px 0;
}
.toprow {
    font-size: 15pt;
    font-family: 'bebas-neue', sans-serif;
}
.toprow span {
    margin-right: 33%;
}
.active {
    visibility: visible;
}
